body {
    background-color: #8e9b97;    /* navy */
    color: #2c4A52;    /* text color White */
    box-sizing: border-box;
    margin: 0;
    padding: 0 0 4em;
  }  

  h1 {
    font-size: clamp(3 rem, 1 rem + 10vw, 7rem); /*change Hi, Im Ariana here*/
    font-weight: normal;   
    margin-bottom:2em;
    margin-top: 2em;
  }

  .big {
    font-size: clamp(3.5rem, 1rem + 10vw, 4rem);
    margin-bottom: 0.5em;
  }

  .content a {
  color: #d8d8d8;
  }
  p {
    text-align: left; /*Welcome to...change size here*/
    font-size: 1.5em;
  }
  
  img {
    max-width: 100vw;
    max-height: 100vw;
  }
.menu {
width: 100vw;
background-color: #8e9b97;
color:#2a2830;
display: flex;
justify-content: space-between;
align-items: flex-end;
font-size: 1.2em;
padding: 4em 0 0;
/* these rules effect social media icons  nav */

}
  .menu ul {
    min-height: 3em;
    color: #2a2830;
    display: flex;
    gap: 3em;
    justify-content: space-around;
    max-width: 50em;
    list-style-type: none;
    margin: 0;
  }

  .menu a:hover {
    text-decoration: none;
    color: #2c4a52;
  }

  .menu ul li {
  padding: 60px 0 10px;
  }

  .menu a {
    color: black;
    text-decoration:none;
  }

  .page-container {
    padding: 0 1em;
    max-width: 60rem;
    margin: 0 auto;
  
  }

  .page-container img {
      max-width: 50vw;
      max-height: clamp(100px,350px, 60vw);
      margin: 2em;
  }

  .gallery img {
    max-width: 50vw;
    max-height: clamp(100px,250px, 30vw);
    margin: 2em;
  }

  .content {
    margin: 0 auto;
  }

  @media(min-width: 40em){
    header {
      padding: 7rem 0;
    }
  }

  @media (min-width: 40em) {
    .content {
    display: flex;
    gap: 3em;
    align-items: center;
    justify-content: center;
    }
    .gallery {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  .gallery{
    display:grid;
    gap: 1em;
    padding: 0 1em;
  }

  .contact {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
  }


/* contact page css below  */


* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #2c4A52;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #82a4d7;
  color: #2c4A52;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #5e7aa3;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  color: #2c4A52;
  padding: 10px;
}

/* Create two columns that float next to each other */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/* Ben notes: To prevent font-awesome icons from turning blue when they're links, override the default style for 'a' within the context where font-awesome appears... */
.section a {
  color: #333;
}

/* ... but do change something to indicate they're clickable links */
.section a:hover, .section a:focus {
  text-shadow: #6f807b 1px 1px 1px;
}

/* Ben notes: utility classes for rows and columns
   using flexbox instead of float */
.flex-row {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 0 1em;
}
.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;

}
ul.flex-row {
  list-style-type: none;
  padding-inline-start: 0;
}
